$brand-color:         #6D28D9;
$highlight:           #1E3A8A;
$text-color:          #00D4C4;
$muted-text-color:    #a0a0a0;
$font-family:         "EB Garamond", Garamond, "Times New Roman", serif;

$on-bigphone:         375px;
$on-tablet:           768px;
$on-laptop:           960px;
$on-desktop:          1200px;
