$brand-color:         #002B36;
$highlight:           #4B0082;
$text-color:          #FF6347;
$muted-text-color:    #8F7A66;
$font-family:         "EB Garamond", Garamond, "Times New Roman", serif;

$on-bigphone:         375px;
$on-tablet:           768px;
$on-laptop:           960px;
$on-desktop:          1200px;
