$brand-color:         #004d00;
$highlight:           #b87333;
$text-color:          #333333;
$muted-text-color:    #9e9e9e;
$font-family:         "EB Garamond", Garamond, "Times New Roman", serif;

$on-bigphone:         375px;
$on-tablet:           768px;
$on-laptop:           960px;
$on-desktop:          1200px;
